{% extends 'base/main_base.html' %}

{% block title %}Player{% endblock %}

{% block content %}
<div id="wrapper" class="custom_scrollbar" tabindex="0">
<div id='acc_content'>

  <table class = "account_table">
    <tr>
      <td class="pic_head">
      <i class="fa fa-user fa-5x"></i>
      </td>
      <td class="content">
       <h3>Welcome, {{userName}}! </h3> 
      </td>
    </tr>
    <tr>
      <td class="pic">

      </td>
      <td class="content">
        <h4>Details about your account: </h4>
      </td>
    </tr>
    <tr>
      <td class="pic">
        <i class="fa fa-envelope fa-2x"></i>
      </td>
      <td class="content">
        Email: {{email}}
      </td>
    </tr>
    <tr>
      <td class="pic">
        <i class="fa fa-star fa-2x"></i>
      </td>
      <td class="content">
        Logins: {{logins}}
      </td>
    </tr>



  </table>

</div>
</div>

{% endblock %}