{% extends 'base/main_base.html' %}

{% block title %}Player{% endblock %}

{% block content %}
<div id="wrapper" class="custom_scrollbar" tabindex="0">

  <div id="login_div">
    <div id="login_banner">
      <h3 style="color:#fff; text-align:center; padding-top: 10px;">CMSC506 Music Stream</h3>
    </div>

    <table class ="login_table">


      <tr>
        <td>
          <i class="fa fa-headphones fa-3x"><h4>Login</h4></i>
        </td>
      </tr>

      <tr>
        <td><form>Username: <input type="text" username="user"></br></td>
      </tr></br>

       <tr>
        <td><form>Password:  <input type="text" password="password"></br></td>
      </tr>
      <tr>
      </tr>
       <tr>
        <td><form><input type="button" onclick="" value="Login"/></td>
      </tr></br>

      <tr>

        <td><a href="">Register New Account</a></td>
      </tr>


    </table>

  </div>

</div>

{% endblock %}