{% extends 'base/main_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input id = "firstName" name="user" type="text" placeholder="First Name">
                    <input id = "lastName" name="user" type="text" placeholder="Last Name">
                    <input id = "email" name="email" type="text" placeholder="Email">
                    <input id = "password" type="password" placeholder="Password">

                    <a class="btn btn-info btn-block login" id="register">Register!</a>
                </form>
            </div>
        </div>
   <div class="success-container">
          Click below to redirect to main website!
          <a class="btn btn-info btn-block login" href="/" id="message"></a>
   </div>     
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore-min.js",
    "/static/js/libs/backbone-min.js",
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/socket.io.min.js",
    "/static/js/register.js"
    );
</script>
{% endblock %}