{% extends 'base/main_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="First and Last Name">
                    <input name="email" type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    
                    <a class="btn btn-info btn-block login" id='start_scan'>Register!</a>
                </form>
            </div>
        </div>
        
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore-min.js",
    "/static/js/libs/backbone-min.js",
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/socket.io.min.js",
    "/static/js/login.js"
    );
</script>
{% endblock %}